<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>com.sun.faces.verifyObjects</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.validateXml</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>
    <context-param>
        <param-name>optimus.CONTEXT_SCAN_PATH</param-name>
        <param-value>galileowet.jsf.beans</param-value>
    </context-param>
    <context-param>
        <param-name>optimus.CONFIG_MODULES</param-name>
        <param-value>galileowet.jsf.beans.GalileoWetModule,com.google.inject.servlet.ServletModule</param-value>
    </context-param>
    <filter>
        <filter-name>Authentication</filter-name>
        <filter-class>galileowet.filter.Authentication</filter-class>
    </filter>
    <filter>
        <filter-name>Authorization</filter-name>
        <filter-class>galileowet.filter.Authorization</filter-class>
    </filter>
    <filter>
        <display-name>RichFaces Filter</display-name>
        <filter-name>richfaces</filter-name>
        <filter-class>org.ajax4jsf.Filter</filter-class>
    </filter>
    <filter>
        <filter-name>guice</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>richfaces</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/faces/secure/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authorization</filter-name>
        <url-pattern>/faces/secure/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>guice</filter-name>
        <url-pattern>/faces/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>galileowet.listener.ContextListener</listener-class>
    </listener>
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>galileowet.listener.SessionServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
